# phpstan.neon
includes:
  - ./vendor/larastan/larastan/extension.neon

parameters:
  level: 5
  reportUnmatchedIgnoredErrors: false

  # Paths to analyze
  paths:
    - app
    - routes
    - database
    - tests

  bootstrapFiles:
    - %currentWorkingDirectory%/vendor/autoload.php
    - %currentWorkingDirectory%/bootstrap/app.php

  ignoreErrors:
    - message: '#Call to an undefined static method Tymon\\\\JWTAuth\\\\Facades\\\\JWTAuth::#'

  excludePaths:
    - vendor
    - storage
    - bootstrap/cache

  tmpDir: ./phpstan-cache